<div role="tabpanel" class="tab-pane" id="analyzer">
	<div class="row">
		<div class="fixed-column col-sm-18">
			<div class="panel panel-default tabs-top">
				<div class="panel-heading"><h3 class="panel-title">Oscilloscope:</h3></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-9"><canvas id="analyzer_ch00" class="oscilloscope" width="545" height="82"></canvas></div>
						<div class="col-sm-9"><canvas id="analyzer_ch01" class="oscilloscope" width="545" height="82"></canvas></div>
						<div class="col-sm-9"><canvas id="analyzer_ch10" class="oscilloscope" width="545" height="82"></canvas></div>
						<div class="col-sm-9"><canvas id="analyzer_ch11" class="oscilloscope" width="545" height="82"></canvas></div>
						<div class="col-sm-9"><canvas id="analyzer_ch20" class="oscilloscope" width="545" height="82"></canvas></div>
						<div class="col-sm-9"><canvas id="analyzer_ch21" class="oscilloscope" width="545" height="82"></canvas></div>
						<div class="col-sm-9"><canvas id="analyzer_ch30" class="oscilloscope" width="545" height="82"></canvas></div>
						<div class="col-sm-9"><canvas id="analyzer_ch31" class="oscilloscope" width="545" height="82"></canvas></div>
						<div class="col-sm-9"><canvas id="analyzer_ch40" class="oscilloscope" width="545" height="82"></canvas></div>
						<div class="col-sm-9"><canvas id="analyzer_ch41" class="oscilloscope" width="545" height="82"></canvas></div>
						<div class="col-sm-9"><canvas id="analyzer_ch50" class="oscilloscope" width="545" height="82"></canvas></div>
						<div class="col-sm-9"><canvas id="analyzer_ch51" class="oscilloscope" width="545" height="82"></canvas></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>