<div class="modal fade" id="about" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="app">SAA1099Tracker<span class="ver">v2.0.1</span></div>
				<div class="copy">Copyright &copy; 2012-2022 RM-TEAM</div>
				<div class="desc">chiptune music tracker<br>for Philips SAA 1099<br>soundchip</div>
				<div class="link"><a href="https://github.com/mborik/SAA1099Tracker" target="_blank">github.com/mborik/SAA1099Tracker</a></div>
				<div class="img"><img src="../assets/images/logo.png" width="100" height="100" alt=""></div>
				<div class="ok"><button type="button" class="btn btn-primary" data-dismiss="modal">OK</button></div>
			</div>
		</div>
	</div>
</div>
