<div class="modal" id="settings" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" tabindex="-1">&times;</button>
				<h4 class="modal-title">Preferences</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="form-horizontal row">
						<div class="col-sm-8">
							<div class="panel panel-editor">
								<div class="panel-heading"><h2 class="panel-title text-left">Editor options:</h2></div>
								<div class="panel-body">
									<div class="row">
										<div class="col-sm-12"><label for="chSetTrkAutosize" class="control-label">Expand track-listing to window height:</label></div>
										<div class="col-sm-6 text-right"><input id="chSetTrkAutosize" type="checkbox" class="form-check" tabindex="1"></div>
									</div>
									<hr>
									<div class="form-group row">
										<div class="col-sm-12"><label for="scSetTrkLines" class="control-label">Number of tracklines:</label></div>
										<div class="col-sm-6"><input id="scSetTrkLines" type="text" class="form-control" tabindex="2"></div>
									</div>
									<div class="form-group row">
										<div class="col-sm-12"><label for="scSetTrkLineHeight" class="control-label">Height of trackline <i>(px)</i>:</label></div>
										<div class="col-sm-6"><input id="scSetTrkLineHeight" type="text" class="form-control" tabindex="3"></div>
									</div>
								</div>
								<div class="panel-footer">
									<div class="form-group">
										<div class="checkbox"><label class="control-label"><input id="chSetHexTracklist" type="checkbox" tabindex="4">Hexadecimal track-listing line numbers</label></div>
										<div class="checkbox"><label class="control-label"><input id="chSetHexFreqShifts" type="checkbox" tabindex="5">Hexadecimal frequency shifts in samples</label></div>
										<hr>
										<div class="checkbox"><label class="control-label"><input id="chShowAutosaveFile" type="checkbox" tabindex="6">Show <code>AUTOSAVE</code> in Open/Save dialogs</label></div>
										<div class="checkbox"><label class="control-label"><input id="chHandleRShiftRCtrlAsPlay" type="checkbox" tabindex="7">Handle Right Shift & Right Control like ProTracker</label></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="panel panel-audio">
								<div class="panel-heading"><h2 class="panel-title text-left">Audio options:</h2></div>
								<div class="panel-body">
									<fieldset class="form-group row">
										<label>Volume gain:</label>
										<input id="rgSetAudioVolume" type="range" min="0" max="200" step="1" value="100" tabindex="10">
									</fieldset>
									<hr>
									<fieldset class="form-group row">
										<label>Buffers:</label>
										<input id="rgSetAudioBuffers" type="range" min="2" max="16" step="2" value="4" tabindex="11">
										<div class="form-control-static text-muted"></div>
									</fieldset>
									<hr>
									<fieldset class="form-group row">
										<label>Interrupt frequency:</label>
										<div class="radio"><label class="control-label"><input id="rdSetAudioInt50" name="rdSetAudioInt" type="radio" value="50" tabindex="12"><b>50 Hz</b> (default)</label></div>
										<div class="radio"><label class="control-label"><input id="rdSetAudioInt32" name="rdSetAudioInt" type="radio" value="32" tabindex="13"><b>32 Hz</b> (MIF 85 experimental)</label></div>
									</fieldset>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default cancel" type="button" data-dismiss="modal" tabindex="20">Cancel</button>
				<button class="btn btn-success apply" type="button" tabindex="21">Apply</button>
			</div>
		</div>
	</div>
</div>