<div class="modal" id="filedialog" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
				<label class="control-label file-name">
					File name:
					<input type="text" class="form-control">
				</label>
			</div>
			<div class="modal-body scrollable-container">
				<div class="file-list"></div>
			</div>
			<div class="modal-footer">
				<div class="storage-usage">
					<div>
						<b>local storage usage:</b>
						<i>0 bytes used</i>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped"></div>
					</div>
				</div>

  				<button type="button" class="btn btn-danger file-remove" disabled="disabled">Remove</button>
  				<a role="button" class="btn btn-primary file-download">Download file...</a>
				<span class="btn-separator"></span>
				<button type="button" class="btn btn-success file-open">Open</button>
				<button type="button" class="btn btn-success file-save">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
