<div id="main-tabpanel" class="row tab-panel" role="tabpanel">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation"><a href="#tracker" id="tab-tracker" role="tab" data-toggle="tab" data-value="0"><span class="glyphicon glyphicon-list"></span>&ensp;Tracker</a></li>
		<li role="presentation"><a href="#smpedit" id="tab-smpedit" role="tab" data-toggle="tab" data-value="1"><span class="glyphicon glyphicon-equalizer"></span>&ensp;Samples</a></li>
		<li role="presentation"><a href="#ornedit" id="tab-ornedit" role="tab" data-toggle="tab" data-value="2"><span class="glyphicon glyphicon-music"></span>&ensp;Ornaments</a></li>
		<li role="presentation" class="nav-tab-right"><a href="#analyzer" id="tab-analyser" role="tab" data-toggle="tab" data-value="9"><span class="glyphicon glyphicon-signal"></span>&ensp;Oscilloscope</a></li>
	</ul>
</div>