<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style>body { color: transparent }</style>

	<title>SAA1099Tracker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="SAA1099Tracker is a progressive web chiptune music tracker for Philips SAA 1099 soundchip">

	<meta property="og:title" content="SAA1099Tracker">
	<meta property="og:site_name" content="SAA1099Tracker">
	<meta property="og:type" content="website">
	<meta property="og:description" content="SAA1099Tracker is a progressive web chiptune music tracker for Philips SAA 1099 soundchip">
	<meta property="og:url" content="https://saa1099tracker.borik.net/">
	<meta property="og:image" content="https://saa1099tracker.borik.net/assets/icon.png">

	<link rel="icon" href="assets/icon.ico" sizes="any">
	<link rel="icon" href="assets/icon.icns" sizes="any">
	<link rel="icon" href="assets/icon.png" sizes="256x256" type="image/png">

	<link rel="icon" href="favicon.ico" sizes="any">
	<link rel="manifest" href="manifest.json">
</head>
<body class="loading">
<div hidden id="overlay">
	<div class="wrapper">
		<span class="loader">loading</span>
		<span hidden class="desktop-app-warning">
			<b>This tracker is a desktop application!</b>
			<br><br>Requirements:<ul>
				<li>desktop computer</li>
				<li>latest &amp; modern browser</li>
				<li>mouse with scroll-wheel</li>
				<li>keyboard with all function keys</li>
				<li>numpad for better function control</li>
				<li>display with HD resolution (at least)</li>
			</ul>
		</span>
	</div>
</div>
<nav class="navbar navbar-default">
@require('menu.html')
</nav>
<div class="fixed-container">
@require('header.html')
<div class="tab-content">
@require('trackedit.html')
@require('smpedit.html')
@require('ornedit.html')
</div>
</div>
@require('dlg-file.html')
@require('dlg-settings.html')
@require('dlg-about.html')
@require('dlg-commons.html')
@require('dlg-compiler.html')
@require('footer.html')
</body>
</html>
