<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SAA1099Tracker</title>
	<meta property="og:title" content="SAA1099Tracker">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://saa1099tracker.borik.net/">
	<meta property="og:description" content="SAA1099Tracker is a offline-storage HTML5/JavaScript chiptune music tracker for Philips SAA 1099 soundchip">
	<meta property="og:image" content="http://saa1099tracker.borik.net/img/logo.png">
	<link rel="icon" href="../assets/resources/favicon.ico">
</head>
<body class="loading">
<div hidden id="overlay"><div class="wrapper"><span class="loader">loading</span></div></div>
<nav class="navbar navbar-default">
@require('menu.html')
</nav>
<div class="fixed-container">
@require('header.html')
<div class="tab-content">
@require('trackedit.html')
@require('smpedit.html')
@require('ornedit.html')
</div>
</div>
@require('dlg-file.html')
@require('dlg-settings.html')
@require('dlg-about.html')
@require('dlg-commons.html')
@require('footer.html')
</body>
</html>
