<div class="container-fluid">
	<div class="navbar-brand header-fixwidth navbar-brand-custom">SAA1099Tracker</div>
	<div><ul class="nav navbar-nav">
		<li><a id="miFileNew"  data-tooltip><span class="glyphicon glyphicon-file"></span></a></li>
		<li><a id="miFileOpen" data-tooltip><span class="glyphicon glyphicon-folder-open"></span></a></li>
		<li><a id="miFileSave" data-tooltip><span class="glyphicon glyphicon-floppy-disk"></span></a></li>
		<li><a id="miFileSaveAs" data-tooltip><span class="glyphicon glyphicon-floppy-save"></span>&ensp;</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-import"></span>&ensp;Import&nbsp;<span class="caret"></span></a>
			<ul class="dropdown-menu multi-level" role="menu">
				<li><a id="miFileImportSTMF">Import native song format <i>(STMF)</i>&hellip;</a></li>
				<li class="divider"></li>
				<li class="disabled"><a id="miFileImportPT2">ProTracker II module&hellip;</a></li>
				<li class="disabled"><a id="miFileImportETrk">E-Tracker module&hellip;</a></li>
				<li class="divider"></li>
				<li class="dropdown-submenu">
					<a id="miFileImportDemosong">Demosong</a>
					<ul class="dropdown-menu">
						<li><a id="miFileImportDemo1" data-filename="MAAORAVA">Maaorava <i>(MNEMOtech)</i></a></li>
						<li><a id="miFileImportDemo2" data-filename="LIZARD">Lizard <i>(Ziutek)</i></a></li>
						<li><a id="miFileImportDemo4" data-filename="POPCORN">Popcorn <i>(Ziutek)</i></a></li>
						<li><a id="miFileImportDemo5" data-filename="LYRA3">Lyra III <i>(Ziutek)</i></a></li>
						<li><a id="miFileImportDemo6" data-filename="ENOLAGAY">Enola Gay <i>(Ziutek)</i></a></li>
						<li><a id="miFileImportDemo7" data-filename="QUICK">Dataputer Quick <i>(Qjeta)</i></a></li>
						<li><a id="miFileImportDemo8" data-filename="TURRICAN">Turrican <i>(Qjeta)</i></a></li>
						<li><a id="miFileImportDemo9" data-filename="ASSASSIN">Assassin <i>(Pyramex)</i></a></li>
						<li><a id="miFileImportDemoA" data-filename="LIVEOVDO">Living on Video <i>(Pyramex)</i></a></li>
						<li><a id="miFileImportDemoB" data-filename="TEKKNO">Tekkno <i>(Pyramex)</i></a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-export"></span>&ensp;Export&nbsp;<span class="caret"></span>&ensp;</a>
			<ul class="dropdown-menu" role="menu">
				<li><a id="miFileExport">Export to native song format <i>(STMF)</i>&hellip;</a></li>
				<li class="divider"></li>
				<li class="disabled"><a id="miFileCompile">Binary compilation&hellip;</a></li>
			</ul>
		</li>
		<li class="divider-vertical"></li>
		<li><a id="miEditCut" data-tooltip><span class="glyphicon glyphicon-scissors"></span></a></li>
		<li><a id="miEditCopy" data-tooltip><span class="glyphicon glyphicon-copy"></span></a></li>
		<li><a id="miEditPaste" data-tooltip><span class="glyphicon glyphicon-paste"></span></a></li>
		<li><a id="miEditClear" data-tooltip><span class="glyphicon glyphicon-trash"></span></a></li>
		<li class="divider-vertical"></li>
		<li class="disabled"><a id="miEditUndo" data-tooltip><span class="glyphicon glyphicon-undo"></span></a></li>
		<li class="disabled"><a id="miEditRedo" data-tooltip><span class="glyphicon glyphicon-redo"></span></a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a id="miPreferences" data-tooltip><span class="glyphicon glyphicon-cog"></span>&ensp;Preferences</a></li>
		<li class="divider-vertical"></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bullhorn"></span>&ensp;Help&nbsp;<span class="caret"></span>&ensp;</a>
			<ul class="dropdown-menu" role="menu">
				<li><a id="miHelpInfo" data-filename="readme">Basic info for musicians&hellip;</a></li>
				<li><a id="miHelpKeys" data-filename="keyboard">Keyboard controls and hotkeys&hellip;</a></li>
				<li><a id="miHelpCmd" data-filename="commands">Effect commands&hellip;</a></li>
				<li><a id="miHelpExport" data-filename="export_data_format">Export data format&hellip;</a></li>
				<li><a id="miHelpSAA" data-filename="philips_saa1099_details">Detailed info about SAA 1099&hellip;</a></li>
				<li role="separator" class="divider"></li>
				<li><a id="miAbout">About&hellip;</a></li>
			</ul>
		</li>
	</ul></div>
</div>
<div class="container-fluid">
	<div class="navbar-brand header-fixwidth"></div>
	<div><ul class="nav navbar-nav">
		<li><a id="miStop" data-tooltip><span class="glyphicon glyphicon-stop"></span></a></li>
		<li><a id="miSongPlay" data-tooltip><span class="glyphicon glyphicon-play-song"></span></a></li>
		<li><a id="miSongPlayStart" data-tooltip><span class="glyphicon glyphicon-play-song-start"></span></a></li>
		<li><a id="miPosPlay" data-tooltip><span class="glyphicon glyphicon-play-pattern"></span></a></li>
		<li><a id="miPosPlayStart" data-tooltip><span class="glyphicon glyphicon-play-pattern-start"></span></a></li>
		<li><a id="miToggleLoop" data-tooltip><span class="glyphicon glyphicon-repeat"></span></a></li>
		<li class="divider-vertical"></li>
	</ul></div>
	<form class="navbar-form header-songinfo">
		<div class="input-group">
			<label for="txHeaderTitle" class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></label>
			<input type="text" class="form-control" id="txHeaderTitle" spellcheck="false" tabindex="1" placeholder="Song title">
		</div>
		<div class="input-group">
			<label for="txHeaderAuthor" class="input-group-addon"><span class="glyphicon glyphicon-user"></span></label>
			<input type="text" class="form-control" id="txHeaderAuthor" spellcheck="false" tabindex="2" placeholder="Author">
		</div>
	</form>
</div>