<div role="tabpanel" class="tab-pane" id="ornedit">
	<div class="row">
		<div class="fixed-column col-sm-18">
			<div class="panel panel-default tabs-top">
				<div class="panel-heading"><h3 class="panel-title">Ornament:</h3></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-smpedit">
							<div class="col-sm-1"><input id="scOrnNumber" type="text" class="form-control" data-tooltip></div>
							<div class="col-sm-13"><input id="txOrnName" type="text" class="form-control" data-tooltip></div>
							<div class="col-sm-1"><input id="scOrnTestSample" type="text" class="form-control" data-tooltip></div>
							<div class="col-sm-3">
								<div class="col-xs-9" data-tooltip="scOrnTone"><input id="scOrnTone" type="text" class="form-control"></div>
								<div class="col-xs-9">
									<button id="btOrnPlay" type="button" class="btn btn-default btn-half left" data-tooltip><span class="glyphicon glyphicon-play"></span></button>
									<button id="btOrnStop" type="button" class="btn btn-default btn-half right" data-tooltip><span class="glyphicon glyphicon-stop"></span></button>
								</div>
							</div>
						</div>
						<div class="col-smpornactions"><button id="btOrnClear" type="button" class="btn btn-default btn-block" data-tooltip>Clear</button></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-18">
			<div class="panel panel-default">
				<div class="panel-body tab-content">
					<div class="row">
						<div class="col-ornedit scrollable-container">
							<div id="fxOrnEditor" tabindex="-1"></div>
						</div>
						<div class="col-smpornactions">
							<div class="actions-orn">
								<div class="rowcell">
									<div class="centertext">Shift ornament:</div>
									<div class="btnpair">
										<button id="btOrnShiftLeft" type="button" class="btn btn-default btn-half left" data-tooltip><span class="glyphicon glyphicon-chevron-left"></span></button>
										<button id="btOrnShiftRight" type="button" class="btn btn-default btn-half right" data-tooltip><span class="glyphicon glyphicon-chevron-right"></span></button>
									</div>
									<div class="separator"></div>
									<div class="centertext">Transposition:</div>
									<div class="btnpair">
										<button id="btOrnTransUp" type="button" class="btn btn-default btn-half left" data-tooltip><span class="glyphicon glyphicon-chevron-up"></span></button>
										<button id="btOrnTransDown" type="button" class="btn btn-default btn-half right" data-tooltip><span class="glyphicon glyphicon-chevron-down"></span></button>
									</div>
									<div class="separator"></div>
									<div class="centertext">Special functions:</div>
									<div class="btnpair">
										<button id="btOrnCompress" type="button" class="btn btn-default btn-half left" data-tooltip>Compress</button>
										<button id="btOrnExpand" type="button" class="btn btn-default btn-half right" data-tooltip>Expand</button>
									</div>
									<div class="separator"></div>
								</div>
								<div class="rowcell bottom" id="fxOrnChords" data-tooltip>
									<div class="centertext">Chord auto-generators:</div>
									<div class="row">
										<div class="col-sm-6"><button type="button" class="btn btn-default btn-block btn-xs" data-placement="left">maj</button></div>
										<div class="col-sm-6"><button type="button" class="btn btn-default btn-block btn-xs" data-placement="right">sus2</button></div>
										<div class="col-sm-6"><button type="button" class="btn btn-default btn-block btn-xs" data-placement="right">min</button></div>
									</div>
									<div class="row">
										<div class="col-sm-6"><button type="button" class="btn btn-default btn-block btn-xs" data-placement="left">maj7</button></div>
										<div class="col-sm-6"><button type="button" class="btn btn-default btn-block btn-xs" data-placement="top">sus4</button></div>
										<div class="col-sm-6"><button type="button" class="btn btn-default btn-block btn-xs" data-placement="right">min7</button></div>
									</div>
									<div class="row">
										<div class="col-sm-3"><button type="button" class="btn btn-default btn-block btn-xs" data-placement="left">6</button></div>
										<div class="col-sm-3"><button type="button" class="btn btn-default btn-block btn-xs" data-placement="top">7</button></div>
										<div class="col-sm-6"><button type="button" class="btn btn-default btn-block btn-xs" data-placement="top">add9</button></div>
										<div class="col-sm-6"><button type="button" class="btn btn-default btn-block btn-xs" data-placement="right">min7b5</button></div>
									</div>
									<div class="row">
										<div class="col-sm-6"><button type="button" class="btn btn-default btn-block btn-xs" data-placement="left">aug</button></div>
										<div class="col-sm-6"><button type="button" class="btn btn-default btn-block btn-xs" data-placement="bottom">12th</button></div>
										<div class="col-sm-6"><button type="button" class="btn btn-default btn-block btn-xs" data-placement="right">dim</button></div>
									</div>
								</div>
							</div>
							<div class="actions-range">
								<div class="bottom">
									<div class="separator"></div>
									<div class="halfing">
										<input id="scOrnLength" name="scOrnLength" type="text" class="form-control" data-tooltip>
										<input id="scOrnRepeat" name="scOrnRepeat" type="text" class="form-control" data-tooltip>
									</div>
									<div class="halfing">
										<label for="scOrnLength" class="small">LENGTH</label>
										<label for="scOrnRepeat" class="small right">REPEAT</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
