<div role="tabpanel" class="tab-pane" id="smpedit">
	<div class="row">
		<div class="fixed-column col-sm-18">
			<div class="panel panel-default tabs-top">
				<div class="panel-heading"><h3 class="panel-title">Sample:</h3></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-smpedit">
							<div class="col-sm-1"><input id="scSampleNumber" type="text" class="form-control" tabindex="3" data-tooltip></div>
							<div class="col-sm-14"><input id="txSampleName" type="text" class="form-control" tabindex="4" data-tooltip></div>
							<div class="col-sm-3">
								<div class="col-xs-9" data-tooltip="scSampleTone"><input id="scSampleTone" type="text" class="form-control" tabindex="5"></div>
								<div class="col-xs-9">
									<button id="btSamplePlay" type="button" class="btn btn-default btn-half left" tabindex="6" data-tooltip><span class="glyphicon glyphicon-play"></span></button>
									<button id="btSampleStop" type="button" class="btn btn-default btn-half right" tabindex="7" data-tooltip><span class="glyphicon glyphicon-stop"></span></button>
								</div>
							</div>
						</div>
						<div class="col-smpornactions"><button id="btSampleClear" type="button" class="btn btn-default btn-block" tabindex="8" data-tooltip>Clear</button></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-18">
			<div class="panel panel-default tabs-bottom">
				<div class="panel-body tab-content">
					<div role="tabpanel" class="tab-pane active" id="sampledata">
						<div class="row">
							<div class="col-smpedit">
								<canvas id="smpedit_amp" class="smpornedit" width="928" height="312"></canvas>
								<canvas id="smpedit_noise" class="smpornedit" width="928" height="48"></canvas>
								<canvas id="smpedit_range" class="smpornedit" width="928" height="24"></canvas>
								<div id="sbSampleScroll"><div class="scrollbar"></div></div>
							</div>
							<div class="col-smpornactions">
								<div class="actions-amp">
									<div class="rowcell"><button id="btSampleSwap" type="button" class="btn btn-default btn-block" tabindex="9" data-tooltip>Swap L&nbsp;&#x21cc;&nbsp;R</button></div>
									<div class="rowcell middle">
										<div class="btnpair">
											<button id="btSampleLVolUp" type="button" class="btn btn-default btn-half left" tabindex="10" data-tooltip><span class="glyphicon glyphicon-chevron-up"></span></button>
											<button id="btSampleLVolDown" type="button" class="btn btn-default btn-half right" tabindex="11" data-tooltip><span class="glyphicon glyphicon-chevron-down"></span></button>
										</div>
										<button id="btSampleCopyLR" type="button" class="btn btn-default btn-block" tabindex="12" data-tooltip>Copy L&nbsp;&#x21d2;&nbsp;R</button>
										<div class="separator"></div>
										<button id="btSampleCopyRL" type="button" class="btn btn-default btn-block" tabindex="13" data-tooltip>Copy L&nbsp;&#x21d0;&nbsp;R</button>
										<div class="btnpair">
											<button id="btSampleRVolUp" type="button" class="btn btn-default btn-half left" tabindex="14" data-tooltip><span class="glyphicon glyphicon-chevron-down"></span></button>
											<button id="btSampleRVolDown" type="button" class="btn btn-default btn-half right" tabindex="15" data-tooltip><span class="glyphicon glyphicon-chevron-up"></span></button>
										</div>
									</div>
									<div class="rowcell bottom">
										<div class="btnpair">
											<button id="btSampleRotL" type="button" class="btn btn-default btn-half left" tabindex="16" data-tooltip><span class="glyphicon glyphicon-chevron-left"></span></button>
											<button id="btSampleRotR" type="button" class="btn btn-default btn-half right" tabindex="17" data-tooltip><span class="glyphicon glyphicon-chevron-right"></span></button>
										</div>
										<div class="btnpair">
											<button id="btSampleEnable" type="button" class="btn btn-default btn-half left" tabindex="18" data-tooltip><span class="glyphicon glyphicon-check"></span></button>
											<button id="btSampleDisable" type="button" class="btn btn-default btn-half right" tabindex="19" data-tooltip><span class="glyphicon glyphicon-unchecked"></span></button>
										</div>
									</div>
								</div>
								<div class="actions-range">
									<div class="bottom">
										<div class="checkbox-inline" data-tooltip="chSampleRelease"><label><input id="chSampleRelease" type="checkbox" tabindex="20">RELEASABLE</label></div>
										<div class="separator"></div>
										<div class="halfing">
											<input id="scSampleLength" name="scSampleLength" type="text" class="form-control" tabindex="21" data-tooltip>
											<input id="scSampleRepeat" name="scSampleRepeat" type="text" class="form-control" tabindex="22" data-tooltip>
										</div>
										<div class="halfing">
											<label for="scSampleLength" class="small">LENGTH</label>
											<label for="scSampleRepeat" class="small right">REPEAT</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="pitchshift">
						<div class="scrollable-container">
							<div id="fxSampleShift"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="sample-tabpanel" class="row tab-panel tabs-bottom" role="tabpanel">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#sampledata" id="tab-sampledata" role="tab" data-toggle="tab" tabindex="24"><span class="glyphicon glyphicon-stats"></span>&ensp;Sample data</a></li>
			<li role="presentation"><a href="#pitchshift" id="tab-pitchshift" role="tab" data-toggle="tab" tabindex="24"><span class="glyphicon glyphicon-resize-full"></span>&ensp;Pitch-shift</a></li>
		</ul>
	</div>
</div>
