<div role="tabpanel" class="tab-pane" id="tracker">
	<div class="row">
		<div class="fixed-column col-edt">
			<div class="panel panel-default tabs-top">
				<div class="panel-heading"><h3 class="panel-title">Editor:</h3></div>
				<div class="panel-body">
					<div class="row" data-tooltip="scOctave">
						<div class="col-label"><label for="scOctave" class="control-label">Octave:</label></div>
						<div class="col-edt-input"><input id="scOctave" type="text" class="form-control" tabindex="3"></div>
					</div>
					<div class="row" data-tooltip="scAutoSmp">
						<div class="col-label"><label for="scAutoSmp" class="control-label">AutoSmp:</label></div>
						<div class="col-edt-input"><input id="scAutoSmp" type="text" class="form-control" tabindex="4"></div>
					</div>
					<div class="row" data-tooltip="scAutoOrn">
						<div class="col-label"><label for="scAutoOrn" class="control-label">AutoOrn:</label></div>
						<div class="col-edt-input"><input id="scAutoOrn" type="text" class="form-control" tabindex="5"></div>
					</div>
					<div class="row separator"></div>
					<div class="row" data-tooltip="scRowStep">
						<div class="col-label"><label for="scRowStep" class="control-label">RowStep:</label></div>
						<div class="column col-edt-input"><input id="scRowStep" type="text" class="form-control" tabindex="6"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="fixed-column col-pat">
			<div id="fxPanelPattern" class="panel panel-default tabs-top">
				<div class="panel-heading"><h3 class="panel-title text-left">
					<span class="show-on-pg1">Patterns:</span>
					<span class="show-on-pg2">Pattern functions:</span>
				</h3></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-buttons show-on-pg1"><button id="btPatCreate" type="button" class="btn btn-default btn-block" tabindex="7" data-tooltip>Create</button></div>
						<div class="col-buttons show-on-pg2"><button id="btPatSwap" type="button" class="btn btn-default btn-block" tabindex="7">Swap with</button></div>
						<div class="col-label-input" data-tooltip="scPatCurrent">
							<div class="col-label"><label for="scPatCurrent" class="control-label">
								<span class="show-on-pg1">Pattern:</span>
								<span class="show-on-pg2">Source:</span>
							</label></div>
							<div class="col-pp-input"><input id="scPatCurrent" type="text" class="form-control" tabindex="11"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-buttons show-on-pg1"><button id="btPatDuplicate" type="button" class="btn btn-default btn-block" tabindex="8" data-tooltip>Duplicate</button></div>
						<div class="col-buttons show-on-pg2"><button id="btPatProcess" type="button" class="btn btn-default btn-block" tabindex="8">Process to</button></div>
						<div class="col-label-input show-on-pg1" data-tooltip="scPatLen">
							<div class="col-label"><label for="scPatLen" class="control-label">Length:</label></div>
							<div class="col-pp-input"><input id="scPatLen" type="text" class="form-control" tabindex="12"></div>
						</div>
						<div class="col-label-input show-on-pg2">
							<div class="col-label"><label for="scPatTarget" class="control-label">Target:</label></div>
							<div class="col-pp-input"><input id="scPatTarget" type="text" class="form-control" tabindex="12"></div>
						</div>
					</div>
					<div class="row separator show-on-pg2"></div>
					<div class="row">
						<div class="col-buttons show-on-pg1"><button id="btPatDelete" type="button" class="btn btn-default btn-block" tabindex="9" data-tooltip>Delete</button></div>
						<div class="col-buttons show-on-pg2"><button id="btPatClean" type="button" class="btn btn-default btn-block" tabindex="9">Clean</button></div>
						<div class="col-label-input show-on-pg1" data-tooltip="txPatternUsed">
							<div class="col-label"><label class="control-label">Used:</label></div>
							<div class="col-pp-input"><input id="txPatternUsed" type="text" value="0" class="form-control" disabled="disabled" tabindex="-1"></div>
						</div>
						<div class="col-buttons-right show-on-pg2">
							<button id="btPatCompress" type="button" class="btn btn-default thin left" tabindex="12">Compress</button>
							<button id="btPatExpand" type="button" class="btn btn-default right" tabindex="12">Expand</button>
						</div>
					</div>
					<div class="row separator show-on-pg1"></div>
					<div class="row">
						<div class="col-buttons"><input id="scPatPanelSwitch" type="checkbox" checked value="1" tabindex="-1"></div>
						<div class="col-label-input show-on-pg1" data-tooltip="txPatternTotal">
							<div class="col-label"><label class="control-label">Total:</label></div>
							<div class="col-pp-input"><input id="txPatternTotal" type="text" value="0" class="form-control" disabled="disabled" tabindex="-1"></div>
						</div>
						<div class="col-buttons-right show-on-pg2"><button id="btPatOptimize" type="button" class="btn btn-default btn-block" tabindex="12">Optimize patt. data</button></div>
					</div>
				</div>
			</div>
		</div>
		<div class="fixed-column col-rem">
			<div class="panel panel-default tabs-top">
				<div class="panel-heading"><h3 class="panel-title text-left">Positions:</h3></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-pos">
							<div class="row">
								<div class="col-buttons"><button id="btPosCreate" type="button" class="btn btn-default btn-block" tabindex="13" data-tooltip>Create</button></div>
								<div class="col-label-input" data-tooltip="scPosCurrent">
									<div class="col-label"><label for="scPosCurrent" class="control-label">Current:</label></div>
									<div class="col-pp-input"><input id="scPosCurrent" type="text" class="form-control" tabindex="18"></div>
								</div>
							</div>
							<div class="row">
								<div class="col-buttons"><button id="btPosDuplicate" type="button" class="btn btn-default btn-block" tabindex="14" data-tooltip>Duplicate</button></div>
								<div class="col-label-input" data-tooltip="scPosLength">
									<div class="col-label"><label for="scPosLength" class="control-label">Length:</label></div>
									<div class="col-pp-input"><input id="scPosLength" type="text" class="form-control" tabindex="19"></div>
								</div>
							</div>
							<div class="row">
								<div class="col-buttons"><button id="btPosDelete" type="button" class="btn btn-default btn-block" tabindex="15" data-tooltip>Delete</button></div>
								<div class="col-label-input" data-tooltip="scPosSpeed">
									<div class="col-label"><label for="scPosSpeed" class="control-label">Speed:</label></div>
									<div class="col-pp-input"><input id="scPosSpeed" type="text" class="form-control" tabindex="20"></div>
								</div>
							</div>
							<div class="row separator"></div>
							<div class="row">
								<div class="col-buttons">
									<button id="btPosMoveUp" type="button" class="btn btn-default btn-half left" tabindex="16" data-tooltip><span class="glyphicon glyphicon-chevron-up"></span></button>
									<button id="btPosMoveDown" type="button" class="btn btn-default btn-half right" tabindex="17" data-tooltip><span class="glyphicon glyphicon-chevron-down"></span></button>
								</div>
								<div class="col-label-input" data-tooltip="scPosRepeat">
									<div class="col-label"><label for="scPosRepeat" class="control-label">Repeat:</label></div>
									<div class="col-pp-input"><input id="scPosRepeat" type="text" class="form-control" tabindex="21"></div>
								</div>
							</div>
						</div>
						<div class="col-chn">
							<div class="row">
								<div class="col-pos-total" data-tooltip="txPosTotal"><input id="txPosTotal" type="text" value="0" class="form-control" disabled="disabled"></div>
								<div class="col-infopanel" id="stInfoPanel">
									<span class="pull-left">BPM: <u>125</u> (<u>50</u> Hz)</span>
									<span class="pull-right"><b><u>00:00</u> / <u>00:00</u></b> (<u>0</u>/<u>0</u>)</span>
								</div>
							</div>
							<div class="row" data-tooltip="scChnButton">
								<div class="col-chn-label"><label class="control-label">Channel:</label></div>
								<div class="col-chn-buttons"><input id="scChnButton1" type="checkbox" checked value="1" tabindex="22"></div>
								<div class="col-chn-buttons"><input id="scChnButton2" type="checkbox" checked value="2" tabindex="23"></div>
								<div class="col-chn-buttons"><input id="scChnButton3" type="checkbox" checked value="3" tabindex="24"></div>
								<div class="col-chn-buttons"><input id="scChnButton4" type="checkbox" checked value="4" tabindex="25"></div>
								<div class="col-chn-buttons"><input id="scChnButton5" type="checkbox" checked value="5" tabindex="26"></div>
								<div class="col-chn-buttons"><input id="scChnButton6" type="checkbox" checked value="6" tabindex="27"></div>
							</div>
							<div class="row-chn-brd">
								<div class="row" data-tooltip="scChnPattern">
									<div class="col-label"><label class="control-label">Pattern:</label></div>
									<div class="col-chn-input"><input id="scChnPattern1" type="text" class="form-control" tabindex="28"></div>
									<div class="col-chn-input"><input id="scChnPattern2" type="text" class="form-control" tabindex="29"></div>
									<div class="col-chn-input"><input id="scChnPattern3" type="text" class="form-control" tabindex="30"></div>
									<div class="col-chn-input"><input id="scChnPattern4" type="text" class="form-control" tabindex="31"></div>
									<div class="col-chn-input"><input id="scChnPattern5" type="text" class="form-control" tabindex="32"></div>
									<div class="col-chn-input"><input id="scChnPattern6" type="text" class="form-control" tabindex="33"></div>
								</div>
								<div class="row" data-tooltip="scChnTrans">
									<div class="col-label"><label class="control-label">Transpose:</label></div>
									<div class="col-chn-input"><input id="scChnTrans1" type="text" class="form-control" tabindex="34"></div>
									<div class="col-chn-input"><input id="scChnTrans2" type="text" class="form-control" tabindex="35"></div>
									<div class="col-chn-input"><input id="scChnTrans3" type="text" class="form-control" tabindex="36"></div>
									<div class="col-chn-input"><input id="scChnTrans4" type="text" class="form-control" tabindex="37"></div>
									<div class="col-chn-input"><input id="scChnTrans5" type="text" class="form-control" tabindex="38"></div>
									<div class="col-chn-input"><input id="scChnTrans6" type="text" class="form-control" tabindex="39"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-tracklist">
		<div class="tracklist-panel">
			<canvas id="tracklist" class="tracklist" width="552" tabindex="40"></canvas>
		</div>
	</div>
</div>